* {
  font-family: "Franklin Gothic Medium";
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url(Background_image.png);
}

.title {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.3rem;
}

p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
}

h2 {
  font-size: 3rem;
  color: white;
  margin: 0rem;
}

.colorBoxes {
  text-align: center;
}

.individualColorBox {
  display: inline-block;
  margin: 0.5rem;
}

.numberBox {
  width: 20rem;
  border-radius: 1rem;
  block-size: 3rem;
  text-align: center;
  font-size: 2rem;
}

.R {
  color: rgb(255, 0, 0);
}

.G {
  color: rgb(0, 255, 0);
}

.B {
  color: rgb(0, 0, 255);
}

.showColor {
  background-color: #ffffff;
  width: 65rem;
  height: 5rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: #ffffff;
}

.hexadecimal {
  text-align: center;
}
